

<div class="container mt-5 mb-5">
  <div class="row g-2">
    <div
      class="col-md-3"
      style="
        width: 15rem;
        height: 20rem;
        margin-right: 40px !important;
        margin-bottom: 40px;
      "
    >
      <div class="card p-2 py-3 text-center">
        <div class="img mb-2">
          <img
            src="{{ Person.avatar }}"
            alt="{{ Person.name }}"
            width="70"
            class="rounded-circle"
          />
        </div>
        <h5 class="mb-0" (click)="GetPersonDetails(Person.id)">
          {{ Person.name }}
        </h5>
        <div class="age">
          <small>
            <i class="fa fa-child" aria-hidden="true"></i>
            {{ Person.dob | age }} Years
          </small>
        </div>

        <div class="flag">
          <i class="flag flag-egypt"></i>
          <h5>{{ Person.country }}</h5>
        </div>

        <div class="ratings mt-2">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <small style="color: blue; text-decoration: underline"
            >age {{ Person.email }}</small
          >
        </div>

        <div class="mt-4 apointment">
          <button
            class="btn btn-success text-uppercase"
            (click)="GetPersonDetails(Person.id)"
          >
            Details
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
